.story__info{
    display: flex;
}
.story__title{
    padding-top: 120px;
    h2{
        font-family: "poppins";
        font-size: 54px;
    }
    p{
        font-family: "poppins";
        font-size: 16px;
    }
}