.footer{
    background: black;
    color: white;
    .footer__contents{
        display: flex;
        margin: 20px;
        gap: 87px;
        align-items: center;
        .row__one{
            color: white;
            .title{
                font-size: 16px;
                font-weight: bold;
                line-height: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            p{
                font-size: 14px;
                padding: 10px 0;
            }
            .footer__input{
                 background: black;
                 border: 2px solid white;
                 padding: 12px 16px;
                 background-image: url(../assets/icon-send.png) ;
                 background-repeat: no-repeat;
                 background-position: 165px;
                 color: white;
                 margin-bottom: 108px;
            }
        }
    }
}
.row__collection {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 50px;
  
    .footer__items {
      text-decoration: none; 
        a {
          text-decoration: none;
          color: white;
          margin-top: 1px;

        }
    }
  }
  