.container{
    max-width: 1206px ;
    margin: 0 auto;
    padding: 0 16px;
}
.container__lg{
    max-width: 1344px;
    margin: 0 auto;
    padding: 0 16px;
}
.container__sm{
    max-width: 896px;
    margin: 0 auto;
    padding: 0 16px;
}
body{
    font-family: 'Poppins', sans-serif;
    
}